Myshop/bin/*
Myshop/obj/*
.vs/*
Myshop/obj/Debug/net6.0-windows/App.g.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.i.cs
Myshop/obj/Debug/net6.0-windows/Myshop.assets.cache
Myshop/obj/Debug/net6.0-windows/Myshop.csproj.AssemblyReference.cache
Myshop/obj/Debug/net6.0-windows/Myshop.designer.deps.json
Myshop/obj/Debug/net6.0-windows/Myshop.GeneratedMSBuildEditorConfig.editorconfig
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.i.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.lref
Myshop/obj/Myshop.csproj.nuget.dgspec.json
Myshop/obj/Myshop.csproj.nuget.g.props
Myshop/obj/project.assets.json
Myshop/obj/Debug/net6.0-windows/App.g.cs
Myshop/obj/Debug/net6.0-windows/App.g.cs
Myshop/obj/Debug/net6.0-windows/App.g.i.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.i.cs
Myshop/obj/Debug/net6.0-windows/Myshop.assets.cache
Myshop/obj/Debug/net6.0-windows/Myshop.csproj.AssemblyReference.cache
Myshop/obj/Debug/net6.0-windows/Myshop.designer.deps.json
Myshop/obj/Debug/net6.0-windows/Myshop.designer.runtimeconfig.json
Myshop/obj/Debug/net6.0-windows/Myshop.GeneratedMSBuildEditorConfig.editorconfig
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.i.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.lref
Myshop/obj/Myshop.csproj.nuget.dgspec.json
Myshop/obj/Myshop.csproj.nuget.g.props
Myshop/obj/project.assets.json
Myshop/obj/project.nuget.cache
Myshop/obj/Debug/net6.0-windows/App.g.cs
Myshop/obj/Debug/net6.0-windows/App.g.i.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.cs
Myshop/obj/Debug/net6.0-windows/MainWindow.g.i.cs
Myshop/obj/Debug/net6.0-windows/Myshop.assets.cache
Myshop/obj/Debug/net6.0-windows/Myshop.csproj.AssemblyReference.cache
Myshop/obj/Debug/net6.0-windows/Myshop.designer.deps.json
Myshop/obj/Debug/net6.0-windows/Myshop.designer.runtimeconfig.json
Myshop/obj/Debug/net6.0-windows/Myshop.GeneratedMSBuildEditorConfig.editorconfig
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.i.cache
Myshop/obj/Debug/net6.0-windows/Myshop_MarkupCompile.lref
Myshop/obj/Myshop.csproj.nuget.dgspec.json
Myshop/obj/Myshop.csproj.nuget.g.props
Myshop/obj/project.assets.json
Myshop/obj/project.nuget.cache
